## LANGSMITH
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_PROJECT=""
LANGSMITH_API_KEY=""

#Envío de emails

SMTP_USER=""
SMTP_PASS=""

# OLLAMA

BASE_URL = "http://localhost:11434"
